.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
}

.form-col {
  flex: 1;
}

.content-field {
  position: relative;

  .emoji-wrapper {
    position: absolute;
    bottom: 0;
    left: 6px;
  }
  .el-textarea__inner {
    padding-bottom: 32px;
  }
  .el-input__count {
    right: 12px;
  }
}

@media screen and (max-width: 768px) {
  .form-col + .form-col {
    margin-top: 8px;
  }
  .form-row {
    flex-direction: column;
  }
}
