.form {
  &-row {
    display: flex;
    gap: 10px;
    margin-bottom: 6px;
  }

  &-col {
    flex: 1;
  }
}

.content-field {
  position: relative;

  .form-wrapper {
    display: flex;
    position: absolute;
    bottom: 1px;
    margin: 0 10px;
    width: calc(100% - 20px);
    background: var(--el-bg-color);
    align-items: center;
    justify-content: space-between;
    height: 48px;

    .form-btn {
      display: flex;
      align-items: center;
      gap: 10px;

      >span {
        font-size: 0.85rem;
        color: var(--el-text-color-regular);
      }
    }
  }

  .el-textarea__inner {
    padding-bottom: 48px;
  }

  .el-input__count {
    right: 12px;
  }
}

// 响应式设计
@media screen and (max-width: 768px) {
  .form {
    &-row {
      flex-direction: column;
      gap: 8px;
    }

    &-col + &-col {
      margin-top: 0;
    }
  }
}
