.header {
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--el-border-color);

  &-left {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 60px;
  }

  &-menu {
    display: flex;
    gap: 30px;
    flex: 1;

    &-item {
      display: flex;
      gap: 3px;
      align-items: center;
      cursor: pointer;
    }
  }

  &-right {
    display: flex;
  }
}
