.view-content {
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--el-box-shadow);
}

.article-title {
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.article-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &-right {
    padding: 4px 8px;
    background-color: var(--el-bg-color-page);
    border-radius: 3px;
  }
}

.article-tags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article-menu {
  .menu-item {
    padding: 12px 0;
    padding-left: 8px;
    cursor: pointer;
    border-left: 2px solid transparent;
    transition: all 0.2s;

    &:hover {
      color: var(--el-color-primary);
    }

    &-active {
      color: var(--el-color-primary);
      border-left: 2px solid var(--el-color-primary);
      background-color: rgba(64, 158, 255, 0.1);
    }
  }
}
