.article {
  &-item {
    background-color: var(--el-bg-color);
    box-shadow: var(--el-box-shadow);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.5s;

    &:hover {
      transform: translateY(-3px);

      .article-image {
        > img {
          transform: scale(1.05);
        }
      }
    }
  }

  &-image {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    > img {
      width: 100%;
      height: 180px;
      border-radius: 10px 10px 0 0;
      transition: all 1s;
    }
  }

  &-content {
    padding: 20px;
    &-title {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;
      font-weight: 500;
      &-top {
        display: flex;
        align-items: center;
        background-color: var(--el-color-primary);
        color: #fff;
        padding: 2px 4px;
        font-size: 0.85rem;
        border-radius: 3px;
      }
    }

    &-description {
      padding-top: 14px;
      line-height: 26px;
      color: var(--el-text-color-secondary);
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.85rem;
      &-left {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      &-right {
        padding: 4px 8px;
        background-color: var(--el-bg-color-page);
        border-radius: 3px;
      }
    }
  }
}
