*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ChillKai';
  src: url('@/assets/fonts/ChillKai.woff') format('woff');
}

html,
body {
  color: var(--el-text-color-primary);
  font-size: 16px;
  font-family:
    'ChillKai',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 4px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #888; /* 滑块颜色 */
  border-radius: 10px; /* 滑块圆角 */
}

/* 滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停颜色 */
}
