@use 'element-plus/theme-chalk/base.css' as *;
@use 'element-plus/theme-chalk/dark/css-vars.css' as *;
@use 'element-plus/theme-chalk/src/message.scss' as *;
@use 'element' as *;
@use 'base.scss' as *;
@use 'transtion' as *;

h1 {
  font-size: 1.2rem;
}

/* 灰色滤镜 */
.grey {
  filter: grayscale(100%);
  -webkit-filter: grayscale(80%);
}

@media screen and (max-width: 768px) {
  .hidden-mini {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hidden {
    display: none !important;
  }
}
