@use 'element-plus/theme-chalk/base.css' as *;
@use 'element-plus/theme-chalk/dark/css-vars.css' as *;
@use 'element-plus/theme-chalk/src/message.scss' as *;
@use 'element-plus/theme-chalk/src/notification.scss' as *;
@use 'element-plus/theme-chalk/display.css' as *;
@use 'element' as *;
@use 'base.scss' as *;
@use 'transtion' as *;

h1 {
  font-size: 1.3rem;
}

// markdown 字体
.md-editor {
  font-family: 'ChillKai' !important;
}

// 灰色滤镜
.grey {
  filter: grayscale(100%);
  -webkit-filter: grayscale(80%);
}

// 图标选中状态
.svg-icon {
  &:focus {
    outline: none;
  }
}

// 下拉菜单
.dropdown-menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.view {
  display: flex;
  gap: 10px;
  max-width: 100%;
  overflow-x: hidden;

  &-content {
    flex: 1;
    min-width: 0;
  }

  &-sidebar {
    width: 320px;
    min-width: 320px;
  }
}

.card {
  padding: 14px;
  background-color: var(--el-bg-color);
  box-shadow: var(--el-box-shadow);
  border-radius: 10px;
  margin-top: 15px;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;

    &-left {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &-right {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .hidden-mini {
    display: none !important;
  }

  .view {
    flex-direction: column;
    gap: 15px;

    &-sidebar {
      width: 100%;
      min-width: auto;
    }
  }

  body,
  html {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hidden {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .hidden-large {
    display: none !important;
  }
}
